@model SeniorDating.Controllers.PostIndexViewModel
@using Microsoft.AspNet.Identity;

    @foreach (var item in Model.Posts)
    {

        <div>
            <h4><span><b>@Html.ActionLink(item.From.Name, "OtherProfiles", "Profil", new { item.From.Id }, null)</b> </span></h4>
            <p>
                @Html.DisplayFor(modelItem => item.Text)
            </p>
        </div>

    }

